@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset, button, select, textarea, figure, figcaption, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

em, i, address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  border: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  color: inherit;
}

fieldset {
  border: none;
}

select {
  font-family: inherit;
}

.blind, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

input, select, button {
  vertical-align: middle;
  font-size: inherit;
  appearance: none;
  color: inherit;
}

select {
  background-color: #252525;
  border: none;
  width: 100%;
}

input::placeholder {
  font-size: inherit;
}

input[type=checkbox] {
  background: url("/images/icons/checkbox_off.svg") no-repeat center center/contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-image: url("/images/icons/checkbox_on_line.svg");
}

input:focus {
  outline: 1px solid #252525;
}

.page_header .inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.page_header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.page_header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  position: relative;
  z-index: 1000;
}
.page_header .header_menu .main_menu {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.page_header .header_menu .main_btn {
  border-radius: 28px;
  padding: 10px 16px;
}
.page_header .header_menu .main_btn.click {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}
.page_header .header_menu .sub_menu_group {
  display: flex;
}
.page_header .header_menu .ad_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .header_menu .has_third {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .header_menu .sub_menu {
  position: absolute;
  top: 90px;
  background-color: aqua;
  width: 20%;
}
.page_header .header_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.icon_search {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.icon_search::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-weight: 900;
  color: inherit !important;
}

.icon_korean {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/korean.svg");
}

.icon_moon {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/moon.svg");
}

.icon_narrow {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/narrow.svg");
}

.dim {
  position: fixed;
  left: 0;
  top: 90px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  color: blue;
}
.dim.open {
  display: block;
}

body {
  font-family: "SpoqaHanSans-kr";
  font-size: 17px;
}

h1 {
  font-family: "Afacad Flux", sans-serif;
}

/*# sourceMappingURL=common.css.map */
