@use "variables" as *;
@use "mixin" as *;
@use "extends" as *;
@use "icons" as *;
.cards {
  h2 {
    font-size: 30px;
  }

  .cards_box {
    height: 440px;
    display: flex;
    gap: 20px;
    .cards_item {
      background-color: bisque;
      border-radius: 20px;
      flex: 0 0 320px;
    }
  }
}
