@use "variables" as *;
@use "mixin" as *;
@use "extends" as *;
@use "icons" as *;
.card_section {
  @extend %main;
}
.cards {
  margin-top: 120px;
  .cards_title {
    @include flex;
    h2 {
      font-size: 48px;
    }

    .pause {
      width: 20px;
    }
  }

  .cards_box {
    height: 440px;
    display: flex;
    gap: 20px;
    animation: slide 30s linear infinite both;

    &:hover {
      animation-play-state: paused;
    }

    .type_row {
      width: 772px;
    }
    .cards_item {
      background-color: #f3f3f3;
      border-radius: 20px;
      position: relative;
      flex: 0 0 320px;
      .inner {
        padding: 24px 24px 0;
      }

      .info {
        display: flex;
        justify-content: space-between;
        .card_sub {
          margin-left: 12px;
          background-color: #fff;
          padding: 4px 12px;
          border-radius: 8px;
        }
        .kebab {
          outline: 1px solid red;
          width: 24px;
          height: 24px;

          img {
            height: 100%;
          }
        }
      }
    }
  }
}

@keyframes returnMyPosition {
  to {
    translate: 0 0;
  }
}

.card_modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 30;
  border-radius: 20px;
  padding: 16px 12px 0 0;
  @include flex($d: column, $j: flex-start, $a: flex-end, $g: 6px);
  display: none;
  opacity: 0;
  transition: 1s;

  &.active {
    display: flex;
  }

  .modal_icons.show {
    li {
      translate: 0 0 !important;
    }
  }

  .icon_close {
    color: #fff;
    width: 36px;
    height: 36px;
  }

  .modal_icons {
    position: relative;
    li {
      margin-top: 12px;
      transition: 0.4s;

      $size: -50px;

      &:nth-child(2) {
        translate: 0 #{$size};
      }
      &:nth-child(3) {
        translate: 0 #{$size * 2};
      }
      &:nth-child(4) {
        translate: 0 #{$size * 3};
      }
    }
    button {
      @include circle($size: 36);

      &::before {
        font-size: 14px;
      }
    }

    .icon_link {
      &::before {
        font-size: 12px;
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1000px);
  }
}
