@use 'variables' as *;
@use 'mixin' as *;
%main {
    width: 100%;
    margin: 0 auto;
    max-width: map-get($breakpoints , pc);
}


 
 

 
@include media(pc) {
   %main{
      max-width:map-get($breakpoints, tablet );
     } 
}
 

@media screen and (max-width:map-get($breakpoints, tablet)) {
    %main{
     max-width:map-get($breakpoints, tabletV );
    }
 }

 @media screen and (max-width:map-get($breakpoints, tabletV)) {
    %main{
     max-width:map-get($breakpoints, mobile );
    }
 }
 
 
