@use 'variables' as *;
@use 'mixin' as *;
@use 'extends' as *;

.page_footer{ 
    padding-top: 50px;
    .footer_group_box{
        display: flex;
        .footer_menu{
            flex-basis: 50%;
        }

    }

    .fnb{
        width: 100%;
        @include flex($a:flex-start);
        $itemSize: calc(100% / 6);

        & > li{
            flex-basis: $itemSize;
            &:first-child{
                transform: translateY(-30px);
            }
        }

        .footer_group_container{
            flex-basis: $itemSize * 2;
        }
    }
    


    .footer_today_container{
        .footer_today_title{
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        li{
            color: #333;
        }
    }

    .footer_menu{
        .footer_title{
            font-weight: 600;
            margin-bottom: 12px;
           
        }

        li{
            color: #888;
        }
    }
    
}


.footer_inner{
    @extend %main;
    @include flex;
    padding: 80px 0 50px;
}

.group_info{
    @include flex($j:flex-start);
    color: #888;
    li{
        &:not(:first-child) {
            margin-left:24px;
        }
    }
}

@include media(tablet){
    .page_footer{
        .fnb{
            justify-content: flex-start;
            flex-wrap: wrap;
            & > li{
                flex-basis: 25%;
            }

            .footer_group_container{
                flex-basis: 50%;
            }
        }
    }
    
}

@include media(tabletV){
    .page_footer{
        .fnb{
            display: block;
        }

        .footer_group_box{
            display: block;
        }
    }

}