@use 'mixin' as  *;
@use 'extends' as *;

.page_header{
    position: fixed;
    width: 100%;
    left:0;top:0;
    z-index: 1000;

    

    .header_menu{
        position: relative;
        .main_menu{
           display: flex;
           font-size: 20px;
           justify-content: space-between;
           align-items: center;
           gap: 50px; // gap : 0 30px;

            & > li {
                gap:20px;
                &.active {
                   .sub_menu_group{
                    display: flex;
                   }

                   .main_btn{
                    background-color: #000;
                    color: #fff;
                    border: 1px solid #000;
                   }
                }
            }
        }

        .main_btn, .main_btn_link{
            border-radius: 28px;
            padding: 10px 16px;
            transition: background-color 0.4s;

            &:hover{
                background-color: #f3f3f3;
            }
        }

        .main_btn_link{
            img{
                height: 12px;
            }
        }

        .ad_container{
            @include flex($a:flex-start);
            width: 100%;

            .sub_slide{
                width: 270px;
            }
        }

        .has_third{
            @include flex;
            gap: 20px;
        }

        .sub_menu_group{
            display: none;
            position: absolute;
            // top:90px;
            background-color: #fff;
            // width: 20%;
            border-radius: 20px;
            padding: 50px 100px 20px 30px;

            .sub_menu{
                li{
                    padding-top: 18px; 
                    font-size: 22px;
                }
            }
        }
    }

    .header_icons{
        @include flex($g:26px);
    }
}
 
.header_inner{
    @extend %main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;
    z-index: 1000;
}