@use 'mixin' as  *;
@use 'extends' as *;

.page_header{
    position: fixed;
    width: 100%;
    left:0;top:0;

    .inner{
        @extend %main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }

    .header_menu{
        background-color: red;
        
        .main_menu{
           display: flex;
           font-size: 20px;
           justify-content: space-between;
           align-items: center;
           gap: 50px; // gap : 0 30px;

        }

        .sub_menu_group{
            display: flex;
        }

        .ad_container{
            @include flex;
        }

        .has_third{
            @include flex;
        }

        .sub_menu{
            display: none;
        }
    }

    .header_icons{
        @include flex($g:26px);
    }
}