@use 'mixin' as  *;
@use 'extends' as *;
@use 'icons' as *;
.page_header{
    position: fixed;
    width: 100%;
    left:0;top:0;
    z-index: 1000;

    

    .header_menu{
        position: relative;
        .main_menu{
           display: flex;
           font-size: 20px;
           justify-content: space-between;
           align-items: center;
           gap: 50px; // gap : 0 30px;

            & > li {
                gap:20px;
                position: relative;
                
                &.active {
                   .sub_menu_group{
                    display: flex;
                   }

                   .main_btn{
                    background-color: #000;
                    color: #fff;
                    border: 1px solid #000;
                   }
                }
            }

            
        }

        .main_btn, .main_btn_link{
            border-radius: 28px;
            padding: 10px 16px;
            transition: background-color 0.4s;

            &:hover{
                background-color: #f3f3f3;
            }
        }

        .main_btn_link{
            img{
                height: 12px;
            }
        }

        .ad_container{
            @include flex($a:flex-start,$j: flex-start);

            .sub_slide{
                width: 270px;
                padding-left: 50px;

               
            }

            .news_box{
                .news_box_title{
                    @include flex($j:flex-start);
                    img{
                        width: 24px;
                    }
                    strong{
                        display: inline-block;
                    }
                }
                
                p{
                    overflow: hidden;
                }
                
            }
        }

        .has_third{
            @include flex($a:flex-start);
            gap: 20px;
        }

        .sub_menu_group{
            display: none;
            position: absolute;
            top:64px;left:50%;
            transform: translateX(-50%);
            // top:90px;
            background-color: #fff;
            // width: 20%;
            border-radius: 0 0 20px 20px;
            // padding: 50px 100px 20px 30px;
            padding: 20px 40px;
            white-space: nowrap;

            .sub_menu{
                li{
                    padding-top: 18px; 
                    font-size: 17px;

                    strong{
                        font-weight: 400;
                        font-size: 15px;
                        color: #666;
                    }
                }
            }
        }
    }

    .header_icons{
        @include flex($g:26px);
    }
}
 
.header_inner{
    @extend %main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;
    z-index: 1000;
}

#close_menu{
    display: none;
    margin: 0 0 0 auto;
}

@include media(tablet) {
    .nav_dim{
        position:fixed;
        inset: 0 0 0 0;
        background-color: rgba(#000,0.7);
        display: none;
    }

    .dimm_bk.open {
        display:none !important;
    }
    .page_header{
        .nav_wrap.open {
            .nav_dim {
                display:block;
            }

            .header_menu {
                right:0;
            }
        }
        .header_menu{
            position: fixed;
            inset: 0 -410px 0 auto;
            transition: 0.4s;
            background: #fff;
            width: 400px;
            overflow-y: auto; 
            overflow-x:hidden;
            padding: 48px 39px 48px 35px;
           

        .main_btn{
            width:100%;
            @include fontIcon('\f078', $way:after, $j:space-between,$size:18px);
            font-weight: 600;
            color: #000;
            background-color: transparent;
            border: none;
        }

            .main_menu{
                display: block;

                & > li.active {
                    .sub_menu_group {
                        display:block;
                    }

                    

                    .main_btn:after {
                        content:'\f077';
                    }
                }
            }
            
            .has_third {
                display:block;
            }
            
            .sub_menu_group{ 
                position: static;
                transform: translateX(0);
                border-radius: 20px 20px;
                background-color: #f7f7f7;
            }
        
        }
    }

    #close_menu{
        display: block;
        margin: 0 0 0 auto;
        padding: 0 0 30px 0;
    }
}

#tablet_menu{
    @include flex($d:column,$a:stretch,$g:30px);
}


