@use "variables" as *;
@use "mixin" as *;
@use "extends" as *;
@use "icons" as *;

body {
  color: map-get($theme, light-text);

  &.darkmode {
    background-color: map-get($theme, dark-bg);
    color: map-get($theme, dark-text);
  }
}

body.darkmode {
  background-color: #222;
  color: #fff;
}

.main {
  display: grid;
  grid-template-columns: auto 272px;
  grid-template-rows: 272px 340px 164px;
  gap: 14px;
  @extend %main;
  margin-top: 90px;
  .main_video {
    grid-row: 1/4;
    position: relative;
    .video_container {
      @include videoContainer;
    }

    .video_right {
      @include flex($d: column);
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      border-bottom-left-radius: 40px;

      .bubble {
        color: #fff;
        background-color: #000;
        display: none;
        &:hover {
          display: flex;
        }
      }
    }

    .video_left {
      @include flex($a: center);
      background-color: #fff;
      position: absolute;
      bottom: 0;
      padding: 23px 23px 28px;
      strong {
        font-size: 22px;
        font-weight: 400;
      }
      .arrow {
        @include flex($j: center, $a: center, $d: column);
        background-color: #000;
        color: #fff;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        margin-left: 8px;
      }
    }
  }

  .slide_container {
    background-color: #f3f3f3;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    .slide_item_1 {
      background-color: #f7f7f7;
      text-align: center;
      @include flex($d: column, $j: center, $a: flex-start);
      @include posFull;
      padding: 10px;
      strong {
        display: inline-block;
        @include position($p: absolute, $t: 14px, $l: 14px);
        font-weight: 300;
        background-color: #fae100;
        border-radius: 6px;
        padding: 4px 10px;
      }
      .counting {
        font-weight: 600;
        font-size: 36px;
      }
      em {
        margin-top: 4px;
      }
    }

    .slide_item_2 {
      display: none;
      @include posFull;
    }

    .slide_button {
      @include position($b: 20px, $l: 50%, $center: x);

      button {
        @include indicator;
      }
    }
  }

  .slide_container_seconde {
    background-color: #f3f3f3;
    padding: 12px 0 0 12px;
    border-radius: 20px;

    .slide_item_1_seconde {
      strong {
        background-color: #fae100;
        padding: 6px 10px;
        display: inline-block;
        font-weight: 400;
        border-radius: 8px;
      }
      p {
        width: 100px;
      }
      em {
        color: #666;
      }
    }
  }

  .slide_item_3 {
    background-color: chocolate;
  }
}

.main {
  .first {
    .slide_item_1 {
      background-color: #fae100;
    }
    .slide_item_2 {
      font-size: 40px;
      background-color: #666;
      @include flex($j: center);
      span {
        color: #fae100;
        font-weight: 400;
      }
    }
  }
}

@include media(pc) {
  .main {
    grid-template-columns: auto 180px;
    grid-template-rows: 180px 170px 120px;
    .slide_container {
      .slide_item_1 {
        font-size: 16px;
        .counting {
          font-size: 18px;
        }
      }
    }

    .first {
      .slide_item_2 {
        font-size: 35px;
      }
    }
  }
}

@include media(tablet) {
  .main {
    grid-template-columns: auto 180px;

    .first {
      .slide_item_2 {
        font-size: 30px;
      }
    }
  }
}
