@use "variables" as *;
@use "mixin" as *;
@use "extends" as *;
@use "icons" as *;

.main {
  display: grid;
  grid-template-columns: auto 272px;
  grid-template-rows: 272px 340px 164px;
  gap: 14px;
  @extend %main;
  margin-top: 90px;
  .main_video {
    grid-row: 1/4;
    position: relative;
    .video_container {
      @include videoContainer;
    }

    .video_right {
      @include flex($d: column);
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      border-bottom-left-radius: 40px;

      .bubble {
        color: #fff;
        background-color: #000;
        display: none;
        &:hover {
          display: flex;
        }
      }
    }

    .video_left {
      display: flex;
      align-items: center;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      .arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        margin-left: 8px;
      }
    }
  }

  .main_inner_1 {
    background-color: red;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    .inner_slide_1 {
      background-color: #fae100;
      text-align: center;
      @include flex($d: column, $j: center);
      @include posFull;
      .counting {
        font-weight: 600;
        font-size: 36px;
      }
    }

    .inner_slide_2 {
      display: none;
      background-color: #666;
      @include posFull;
      strong {
        @include flex;
      }
    }

    .slide_button {
      @include position($b: 20px, $l: 50%, $center: x);

      button {
        @include indicator;
      }
    }
  }

  .main_inner_2 {
    background-color: #f3f3f3;
    padding: 12px 0 0 12px;
    border-radius: 20px;

    strong {
      background-color: #fae100;
      padding: 6px 10px;
      display: inline-block;
      font-weight: 400;
      border-radius: 8px;
    }
    p {
      width: 100px;
    }
    em {
      color: #666;
    }
  }

  .main_inner_3 {
    background-color: chocolate;
  }
}
