@use 'reset';
@use 'variables' as *;
@use 'extends' as *;
@use 'mixin' as *;
@use 'header';
@use 'init';
@use 'icons';




@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
//1440, 1024,768(max-width 384)// break point

body{
    font-family: 'SpoqaHanSans-kr';
    font-size: 17px;
    background-color: $bg;
    color:$color1;
}

