@use 'reset';
@use 'variables' as *;
@use 'extends' as *;
@use 'mixin' as *;
@use 'header';
@use 'init';
@use 'icons';
@use 'modal';




@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
//1440, 1024,768(max-width 384)// break point

body{
    font-family: 'SpoqaHanSans-kr';
    font-size: 17px;
   
}

h1{
    font-family: "Afacad Flux", sans-serif;
}

