@use 'reset';
@use 'variables' as *;
@use 'extends' as *;
@use 'mixin' as *;
@use 'header';
@use 'init';
@use 'icons';
@use 'modal';
@use 'footer';



@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
//1440, 1024,768(max-width 384)// break point

html, body {
    width:100%;
    overflow-x:hidden;
}
body{
    font-family: "Afacad Flux", sans-serif;
    font-size: 17px;

    &.theme-dark {
        background-color:#1b1b1b;
        color:#fff;
    }
   
}

.tablet, .tabletV .mobile {
    display:none;
}

@include media(pc) {
    .page_header{
        .header_menu{
            .main_menu{
                font-size: 16px;
            }
        }
    }

    
}

@include media(tablet) {
    .pc{
        display: none;
    }

    .tablet{
        display: block;
    }
}

@include media(tabletV) {
    .tabletV {
        display:block;
    }
}

@include media(mobile) {
    .mobile {
        display:block;
    }
}