<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choco</title>
    <link rel="stylesheet" href="./css/common.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
    <div class="card_section">
        <section class="cards">
            <div class="cards_title">
                <h2>Choco & Group Chronicles</h2>
                <button type="button" class="pause">
                    <img src="../images/icons/pause.svg" alt="puase">
                </button>
            </div>

            <div class="cards_container">
                <ul class="cards_box">
                    <li class="cards_item type_row">
                        <div class="inner">
                            <div class="info">
                                <div>
                                    <i class="fa-solid fa-paw"></i>
                                    <span class="card_sub">History</span>
                                </div>
                                <button type="button" class="kebab">
                                    <img src="../images/icons/vertical_menu.svg" alt="open menu">
                                </button>
                            </div>
                            <a href="#">
                                <strong>Kakao Talk Wallet,the starting point of a wallet-less future</strong>

                                <div></div>
                            </a>
                        </div>
                        <div class="card_modal">
                            <button type="button" class="icon_close">
                                <span class="blind">close menu</span>
                            </button>
                            <ul class="modal_icons">
                                <li>
                                    <button class="icon_kakaotalk"><span class="blind">kakaotalk</span></button>
                                </li>
                                <li>
                                    <button class="icon_facebook">
                                        <span class="blind">facebook</span></button>
                                </li>
                                <li>
                                    <button class="icon_twitter"><span class="blind">twitter</span></button>
                                </li>
                                <li>
                                    <button class="icon_link"><span class="blind">link</span></button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cards_item type_row">
                        <div class="inner">
                            <div class="info">
                                <div>
                                    <i class="fa-solid fa-paw"></i>
                                    <span class="card_sub">History</span>
                                </div>
                                <button type="button" class="kebab">
                                    <img src="../images/icons/vertical_menu.svg" alt="open menu">
                                </button>
                            </div>
                            <a href="#">
                                <strong>Kakao Talk Wallet,the starting point of a wallet-less future</strong>

                                <div></div>
                            </a>
                        </div>
                        <div class="card_modal">
                            <button type="button" class="icon_close">
                                <span class="blind">close menu</span>
                            </button>
                            <ul class="modal_icons">
                                <li>
                                    <button class="icon_kakaotalk"><span class="blind">kakaotalk</span></button>
                                </li>
                                <li>
                                    <button class="icon_facebook">
                                        <span class="blind">facebook</span></button>
                                </li>
                                <li>
                                    <button class="icon_twitter"><span class="blind">twitter</span></button>
                                </li>
                                <li>
                                    <button class="icon_link"><span class="blind">link</span></button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cards_item">C</li>
                    <li class="cards_item">D</li>
                    <li class="cards_item">E</li>
                    <li class="cards_item">F</li>
                    <li class="cards_item">F</li>
                    <li class="cards_item">F</li>
                    <li class="cards_item">F</li>
                </ul>
            </div>
        </section>
    </div>

    <script>
        const moving_cards = () => {
            const pause_btn = document.querySelector(".pause");
            const img = pause_btn.children[0]
            const ul = document.querySelector(".cards_box");
            let isRunning = true;

            pause_btn.addEventListener("click", () => {

                ul.style.animationPlayState = isRunning ? "paused" : "running";

                let imgInfo = isRunning
                    ?
                    {
                        src: "../images/icons/play.svg",
                        alt: 'play'
                    }

                    :
                    {
                        src: "../images/icons/pause.svg",
                        alt: 'pause'
                    }

                // 러닝상태일때에는 이미지의 경로를 일시정지로 바꾸고, 알트값도 바꾼다.
                // 일시정지상태일때에는 이미지의 경로와 알트값을 반대로 바꾼다. 



                for (let key in imgInfo) {
                    img.setAttribute(key, imgInfo[key])
                }
                isRunning = !isRunning;
            });
        };


        // 카드리스트의 Kebab_dialog 모달 

        const kebab_toggle = (btn, show) => {
            const modal = btn.closest('li').querySelector('.card_modal')
            const icons = modal.querySelector('.modal_icons')
            if (show) {
                modal.classList.add('active');
                icons.offsetHeight;
                setTimeout(() => {
                    modal.style.opacity = 1;
                    icons.classList.add('show')
                }, 0)
            } else {
                modal.style.opacity = 0;
                icons.classList.remove('show')
                setTimeout(() => {
                    modal.classList.remove('active');
                }, 200)
            }
        }

        const kebab_modal = () => {
            const kebabs = document.querySelectorAll(".kebab")
            const closeBtns = document.querySelectorAll('.icon_close')

            kebabs.forEach((kebab) => {
                kebab.addEventListener('click', () => {
                    kebab_toggle(kebab, true)
                })
            })

            closeBtns.forEach((closeBtn) => {
                closeBtn.addEventListener('click', () => {
                    kebab_toggle(closeBtn, false)
                })
            })
        }


        moving_cards();
        kebab_modal();
    </script>
</body>

</html>