<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choco</title>
    <link rel="stylesheet" href="./css/common.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
    <section class="cards">
        <h2>Choco & Group Chronicles</h2>
        <div class="cards_container">
            <ul class="cards_box">
                <li class="cards_item">A</li>
                <li class="cards_item">B</li>
                <li class="cards_item">C</li>
                <li class="cards_item">D</li>
                <li class="cards_item">E</li>
                <li class="cards_item">F</li>
            </ul>
    </section>
</body>

</html>