<footer class="page_footer">
    <section class="footer_inner">
        <ul class="fnb">
            <li>
                <h3 class="footer_today_title">Today's Kakao</h3>
                <ul class="footer_today_container">
                    <li><a href="#">#Vaccination Certificate</a></li>
                    <li><a href="#">#Certificate issuance</a></li>
                    <li><a href="#">#Developer Tools</a></li>
                    <li><a href="#">#Kakao map</a></li>
                    <li>
                        <a href="#">Kakao Helthcare
                            <img src="./images/icons/narrow.svg" alt="" class="narrow">
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="footer_title" href="#">
                    <h4>Kakao Service</h4>
                </a>
                <div class="footer_sub_menu">
                    <ul class="footer_menu">
                        <li><a href="#">Communication</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Life</a></li>
                        <li><a href="#">Shopping</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Impact</a></li>
                    </ul>
                </div>

            </li>

            <li class="footer_group_container">
                <a class="footer_title" href="">
                    <h4>Group</h4>
                </a>
                <div class="footer_group_box footer_sub_menu">
                    <ul class="footer_menu">
                        <li><a href="#">Kakao</a></li>
                        <li><a href="#">Kakao Pay</a></li>
                        <li><a href="#">Kakao Bank</a></li>
                        <li><a href="#">Kakao Mobility</a></li>
                        <li><a href="#">Kakao Style</a></li>
                        <li><a href="#">Kakao </a></li>
                        <li><a href="#">Kakao Entertainment</a></li>
                    </ul>
                    <ul class="footer_menu">
                        <li>
                            Kakao Games
                        </li>
                        <li>
                            Kakao Picoma
                        </li>
                        <li>
                            Kakao Enterprise
                        </li>
                        <li>
                            Kakao Healthcare
                        </li>
                        <li>
                            Kakao Ventures
                        </li>
                        <li>
                            Kakao Investment
                        </li>
                        <li>
                            Linkage Lab
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="footer_title" href="#">
                    <h4>IR</h4>
                </a>
                <div class="footer_sub_menu">
                    <ul class="footer_menu">
                        <li>
                            Governance
                        </li>
                        <li>
                            Stocks
                        </li>
                        <li>
                            Financial Info
                        </li>
                        <li>
                            Investor Events
                        </li>
                        <li>
                            Disclosure Info
                        </li>
                        <li>
                            IR News
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="footer_title" href="#">
                    <h4>Account & Support</h4>
                </a>
                <div class="footer_sub_menu">
                    <ul class="footer_menu">
                        <li>
                            Kakao Account
                        </li>
                        <li>
                            Kakao Privacy
                        </li>
                        <li>
                            Kakao Customer Center
                        </li>
                        <li>
                            Daum Customer Center
                        </li>
                        <li>
                            Commerce Customer Center
                        </li>
                        <li>
                            Kakao Careers
                        </li>
                    </ul>
                </div>

            </li>
        </ul> <!--container-->
    </section>



    <section class="footer_inner">
        <div class="footer_right">
            <ul class="group_info">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Location Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Operation Policy</a></li>
                <li><a href="#">Accessibility Information</a></li>
                <li><a href="#">Brand Protection Policy</a></li>
                <li><a href="#">Notice</a></li>
                <li><a href="#">Contace Us</a></li>
            </ul>
            <div>
                <small>&copy; Kakao Corp. All right reserved.</small>
            </div>
        </div>

        <div class="family_site">
            <a href="#">Family Site</a>

            <ul>
                <li><a href="#">Kakao AI</a></li>
                <li><a href="#">Kakao Privacy</a></li>
                <li><a href="#">Kakao #Developer</a></li>
                <li><a href="#">Daum Portal Site</a></li>
                <li><a href="#">Jeju with Kakao</a></li>
            </ul>
        </div>
    </section>
</footer>

<a href="#" class="top">
    <img src="./images/icons/narrow.svg" alt="" class="narrow f">
</a>