<footer class="page_footer">
    <section class="footer_inner">
        <ul class="fnb">
            <li>
                <h3 class="footer_today_title">Today's Kakao</h3>
                <ul class="footer_today_container">
                    <li><a href="#">#Vaccination Certificate</a></li>
                    <li><a href="#">#Certificate issuance</a></li>
                    <li><a href="#">#Developer Tools</a></li>
                    <li><a href="#">#Kakao map</a></li>
                    <li>
                        <a href="#">Kakao Helthcare
                        <img src="./images/icons/narrow.svg" alt="" class="narrow">
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="footer_title" href="#">
                    <h4>Kakao Service</h4>
                </a>
                <div class="footer_sub_menu">
                    <ul class="footer_menu">
                        <li><a href="#">Communication</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Life</a></li>
                        <li><a href="#">Shopping</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Impact</a></li>
                    </ul>
                </div>
                
            </li>

            <li class="footer_group_container">
                <a class="footer_title" href="">
                    <h4>Group</h4>
                </a>
                <div class="footer_group_box footer_sub_menu">
                    <ul class="footer_menu">
                        <li>Kakao</li>
                        <li>
                            Kakao Pay
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Bank
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Mobility
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Style
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Entertainment
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                    </ul>
                    <ul class="footer_menu">
                        <li>
                            Kakao Games
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Picoma
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Enterprise
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Healthcare
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Ventures
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Investment
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Linkage Lab
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="footer_title" href="#">
                    <h4>IR</h4>
                </a>
                <div class="footer_sub_menu">
                    <ul class="footer_menu">
                        <li>
                            Governance 
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Stocks
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Financial Info
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Investor Events 
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Disclosure Info
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            IR News
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="footer_title" href="#">
                    <h4>Account & Support</h4>
                </a>
                <div class="footer_sub_menu">
                    <ul class="footer_menu">
                        <li>
                            Kakao Account
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Privacy
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Customer Center
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Daum Customer Center
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Commerce Customer Center
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                        <li>
                            Kakao Careers
                            <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                        </li>
                    </ul> 
                </div>
                
            </li>
        </ul> <!--container-->
    </section>   



    <section class="footer_inner">
        <div class="footer_right">
            <ul class="group_info">
                <li>Terms of Service</li>
                <li>Location Terms of Service</li>
                <li>Privacy Policy</li>
                <li>Operation Policy</li>
                <li>Accessibility Information</li>
                <li>Brand Protection Policy</li>
                <li>Notice</li>
                <li>Contace Us</li>
            </ul>
            <div>
                <small>&copy; Kakao Corp. All right reserved.</small>
            </div>
        </div>

        <div class="footer_left">
                <a href="#">Family Site</a>

            <ul>
                <li>Kakao AI 
                    <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                </li>
                <li>Kakao Privacy 
                    <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                </li>
                <li>Kakao #Developer 
                    <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                </li>
                <li>Daum Portal Site 
                    <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                </li>
                <li>Jeju with Kakao 
                    <img src="./images/icons/narrow.svg" alt="" class="narrow f">
                </li>
            </ul>
        </div>
       
    </section>
</footer>

<a href="#" class="top">
    <img src="./images/icons/narrow.svg" alt="" class="narrow f">
</a>