<div class="dimm_wt"></div>

<section class="modal_search_container modal">
    <div class="header_inner">
        <a href="/index.html" class="logo">Choco</a>
        <button type="button" class="header_btn icon_close icon_modal_close">
            <span class="blind">close</span>
        </button>
    </div>


    <div class="search_container">
        <form>
            <div class="input_wrap">
                <input type="search" class="search_bar" name="search" placeholder="What are you looking for?">
            </div>
        </form>
        <div class="hash_tags">
            <a href="#">#AIRecommendations</a>
            <a href="#">#GiftService</a>
            <a href="#">#Safe</a>
            <a href="#">#CustomerPreferences</a>
            <a href="#">#AINative</a>
        </div>

    </div>
</section>


<script>
    search();
</script>